/*-------------------------------------------
# GEN CODE
---------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #5a5560;
}

h1, h2, h3 {
  font-family: "cookie", sans-serif;
  line-height: 1.2;
}

p {
  font-family: "Merriweather", serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #fff;
}

a {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

/* Background Greadent */
.contact-section {
  background: linear-gradient(to bottom, rgba(70, 52, 78, 0.7) 0, rgba(70, 52, 78, 0.7) 100%);
}

/*-------------------------------------------
/# GEN CODE
---------------------------------------------*/
/*-------------------------------------------
# Splash
---------------------------------------------*/
.splash {
  background: linear-gradient(to bottom, rgba(70, 52, 78, 0.5) 0, rgba(70, 52, 78, 0.5) 100%), url("../img/splash_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.splash_headding {
  margin-top: 15%;
}

.splash h1 {
  font-size: 3.5rem;
}

.splash p {
  font-size: 2rem;
  margin-top: 3%;
}

.splash a {
  padding: 10px;
}


/*-------------------------------------------
/# Splash
---------------------------------------------*/
/*-------------------------------------------
# NavBar
---------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(81deg, rgba(255,193,7,1) 0%, rgba(255,193,7,0.7) 1%, rgba(255,193,7,0.7) 100%);
  z-index: 5;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li.sub-menu:before {
  content: '\f078';
  font-family: fontAwesome;
  position: absolute;
  line-height: 50px;
  color: #fff;
  right: 1px;
}

header nav ul li.active.sub-menu:before {
  content: '\f077';
}

header nav ul li ul {
  position: absolute;
  left: 0;
  background: #333;
  display: none
}

header nav ul li.active ul {
  display: block;
}

header nav ul li ul li {
  display: block;
  width: 200px;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: #fff;
  background: #46344e;
}

header nav ul li a.active {
  background: #46344e;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none
}

@media (max-width: 860px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: rgba(0, 0, 0, .7);
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 0.9px solid rgba(0, 0, 0, .2);
  }
  header nav ul li.active ul {
    position: relative;
    background: #003e6f;
  }
  header nav ul li ul li {
    width: 100%;
  }
}

/*-------------------------------------------
/# NavBar
---------------------------------------------*/
/*-------------------------------------------
# About Me
--------------------------------------------*/
.about_me {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 52, 78, 0.5)), to(rgba(70, 52, 78, 0.5))), url("../img/bg_splash.jpg");
  padding: 8rem 0;
  text-align: center;
  overflow: hidden;
  box-shadow: 10px 9px 5px 0px rgba(0, 0, 0, 0.61);
}

.this-guy {
  margin-top: -9px;
  width: 23%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.justify-content-center {
  padding-top: 5%;
}

/*-------------------------------------------
/# About Me
--------------------------------------------*/
/*-------------------------------------------
# Skills Section
--------------------------------------------*/
.skills-section {
  padding: 7rem 0;
  overflow: hidden;
}

.skill-chart {
  padding-top: 5%;
}

.skill-chart h1 {
  color: #000;
}

.about-hr {
  max-width: 9rem;
  border-width: .2rem;
  border-color: #ffc107;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}

/*-------------------------------------------
/# Skills Section
--------------------------------------------*/
/*-------------------------------------------
# Portfolio Section
--------------------------------------------*/
div {
  display: block;
}

.portfolio-me {
  position: relative;
  background: #ffc107;
}

.section-gap-bottom-90 {
  padding-bottom: 1%;
}

.section-gap-top {
  padding-top: 5%;
}

.port-words {
  padding-bottom: 20px;
}

.mb-80 {
  margin-bottom: 80px;
}

.portfolio-me .section-title {
  margin-bottom: 0;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
  text-transform: capitalize;
  position: relative;
  line-height: 44px;
}

.section-title h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 7px;
}

.section-title h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100px;
  height: 2px;
  background: #fff;
}

.section-title p {
  max-width: 535px;
  margin-top: -20px;
  margin-bottom: 0;
}

/* Images */
.portfolio-me .filters-content img {
  border-radius: 10px;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, .5);
}

.card h5 {
  font-size: 21px;
  color: #000;
}

.card p {
  font-size: 15px;
  color: #000;
}

/* Portfolio shape style */
.portfolio-me::before, .portfolio-me::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ffc107;
  bottom: -17px;
  z-index: 1
}

.portfolio-me::before {
  right: 50%;
  transform: skew(0, 20deg);
}

.portfolio-me::after {
  left: 50%;
  transform: skew(0, -20deg);
}

/*-------------------------------------------
/# Portfolio Section
--------------------------------------------*/
/*-------------------------------------------
# Call to Action Section
--------------------------------------------*/
.call-to-action {
  padding: 8rem 0;
  -webkit-clip-path: polygon(100% 0, 100% 61%, 53% 79%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 61%, 53% 79%, 0 100%, 0 0);
  background-color: #46344e;
  color: #fff;
  margin-bottom: -10vw;
}

/*-------------------------------------------
/# Call to Action Section
--------------------------------------------*/
/*-------------------------------------------
# Contact Section
--------------------------------------------*/
.contact-section {
  background: linear-gradient(to bottom, rgba(70, 52, 78, 0.5) 0, rgba(70, 52, 78, 0.5) 100%), url("../img/contact_me_bg.jpg");
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-hr {
  max-width: 9rem;
  border-width: .2rem;
  border-color: #ffc107;
}

.contact-section fas {
  color: #fff;
}

.contact-section a {
  color: #ffc107;
}

.contact-section, h1, p {
  color: #fff;
}

/*-------------------------------------------
/# Contact Section
--------------------------------------------*/
/*-------------------------------------------
# Footer Section
--------------------------------------------*/
footer {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
}

/*-------------------------------------------
/# Footer Section
--------------------------------------------*/
/*-------------------------------------------
Media Querys
--------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

  .splash_home h1 {
    display: block;
    margin-top: 15%;
    font-size: 2.5rem;
  }

  .splash_home p {
    display: block;
    font-size: 1.5rem;
    margin-top: 30%;
    padding: 1%;
    position: absolute;
  }

  .splash_home a {
    margin-top: 65%;
  }

  /* About section */
  .about_me {
    box-shadow: 2px 9px 18px -4px rgba(0, 0, 0, 0.75);
  }

  video {
    display: none;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .call-to-action {
    -webkit-clip-path: polygon(100% 0, 100% 77%, 0 97%, 0 0);
    clip-path: polygon(100% 0, 100% 77%, 0 97%, 0 0);
    margin-bottom: -35vw;
  }

  footer {
    text-align: center;
    width: 100%;
    height: 50px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .splash_home h1 {
    display: block;
    margin-top: 15%;
    font-size: 2.5rem;
  }

  .splash_home p {
    display: block;
    font-size: 1.5rem;
    margin-top: 30%;
    padding: 1%;
    position: absolute;
  }

  .splash_home a {
    margin-top: 60%;
  }

  /* About section */
  .about_me {
    box-shadow: 2px 9px 18px -4px rgba(0, 0, 0, 0.75);
  }

  video {
    display: none;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .call-to-action {
    -webkit-clip-path: polygon(100% 0, 100% 77%, 0 97%, 0 0);
    clip-path: polygon(100% 0, 100% 77%, 0 97%, 0 0);
    margin-bottom: -35vw;
  }

  footer {
    text-align: center;
    width: 100%;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .splash_home h1 {
    display: block;
    margin-top: 7%;
    font-size: 2.5rem;
  }

  .splash_home p {
    display: block;
    font-size: 1.5rem;
    margin-top: 15%;
    padding: 1%;
    position: absolute;
  }

  .splash_home a {
    margin-top: 30%;
  }

  video {
    display: none;
  }

  .call-to-action {
    -webkit-clip-path: polygon(100% 0, 100% 82%, 0 97%, 0 0);
    clip-path: polygon(100% 0, 100% 82%, 0 97%, 0 0);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1025px) {

  .splash_home h1 {
    display: block;
    margin-top: 7%;
    font-size: 4.5rem;
  }

  .splash_home p {
    display: block;
    font-size: 2.3rem;
    margin-top: 16%;
    padding: 1%;
    position: absolute;
  }

  .splash_home a {
    margin-top: 30%;
  }

  video {
    display: none;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

/*-------------------------------------------
/Media Querys
--------------------------------------------*/
