/* Text Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold', sans-serif;
}
p {
  color: #8f8f8f;
}
body {
  font-family: "Montserrat";
  text-align: center;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Sections background color */
.colored-section{
  background-color: #ff4c67;
  color: #fff;
}
.noncolored-section{
  background-color: #fff;
  color: #black;
}

/* nav bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Continers */
.container-fluid {
  padding: 5% 15%;
}

.tittle-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  left: 20%;
}

/* Download Buttons */
.downloadbtn {
  margin: 5% 3% 5% 0;
}

/* Features */
.feat-row {
  padding: 3%;
}

/* Feature Colums */
#features {
  position: relative;
}

/* Features Icons */
.features-icons {
  color: #ef8172;
  padding: 0 0 3% 0;
}

/* Features Hover Icons */
.features-icons:hover {
  color: #ff4c68;
}

/* Testimonials */
.testimonial-text {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  z-index: 1;
}
#press {
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Priceing */
#pricing {
  padding: 10%;
}

.price-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-colum {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  padding: 7% 15%;
}

.cta-heading {
  font-family:"Montserrat-black";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* footer */
.social-icons {
  margin: 20px 10px;
}

/* Media Queries */
@media (max-width: 1028px){

  /* tittle */
  #tittle {
    text-align: left;
  }

/* tittle image */
  .tittle-image {
    position: static;
    transform: rotate(0);
  }

}
